# MacOS
.DS_Store

# Node.js
node_modules
build/*.js
test/*.js

# Optional npm cache directory
.npm

# Checkov
results.sarif
filtered-results.sarif

# Ignore Changelog
CHANGELOG.md

# VSCode
.vscode
.idea/
