name: helm-lint

on:
  pull_request:
    paths:
      - 'pipelines/kubernetes/hello-kubernetes/deploy/**'
      - .github/workflows/helm-lint.yml
    branches:
      - master

  push:
    paths:
      - 'pipelines/kubernetes/hello-kubernetes/deploy/**'
      - .github/workflows/helm-lint.yml

  workflow_dispatch:

permissions: read-all

env:
  HELM_VERSION: 4.0.0

jobs:
  lint:
    runs-on: ubuntu-24.04
    defaults:
      run:
        working-directory: pipelines/kubernetes/hello-kubernetes/deploy
    steps:
      - name: Checkout source code
        uses: actions/checkout@v5
        with:
          fetch-depth: 1

      - name: Install helm binary
        uses: azure/setup-helm@v4
        with:
          version: ${{ env.HELM_VERSION }}

      - name: Run helm lint
        run: helm lint ./hello-kubernetes -f values.yaml
